.BigDiv{
    background-color: black;
    text-align: center;
}
.BigDiv div{
    display: inline;
    color: white;
    font-size: 60px;
    margin: 3px;
    padding: 5px;
    background-color: #161B22;
    border-radius: 10px;
}